.box {
    position:relative;
    border-radius: 150px;
    background-color: red;
    width:150px;
    height:150px;
    margin:25px;
    animation-name: bouncing;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes bouncing {
    from {
        top: 0;
    }
    to{
        top: 100px;
    }
}